<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/btnstyle.css" />
    <link rel="stylesheet" href="/css/post_display_page.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>BlogIT</title>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>

    <section class="post-display-container">
      <div class="displayed-post">
        <div class="displayed-post-top-content">
          <h1 class="displayed-post-title" ><%= post.title %></h1>
          <div class="displayed-post-buttons-container">
            <button class="edit-post displayed-post-button"><i class="fa-regular fa-pen-to-square btn-icon"></i>Edit</button>
            <button class="delete-post displayed-post-button"><i class="fa-regular fa-trash-can btn-icon"></i>Delete</button>
          </div>
        </div>
        <h4>~ <%= post.author %></h4>
        <p class="displayed-post-content" ><%= post.content %></p>
      </div>
    </section>

    <%- include('./partials/footer.ejs') %>
    <script src="/js/script.js"></script>
  </body>
</html>
